@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* style global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 12px;
  margin: 20px 30px;
  background-color: #f2f2f2;
  color: #262626;
}

/* cabeçalho */
header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.header__intel-logo {
  width: 60px;
}

/* barra de navegação */
nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #262626;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #0168b5;
}

/* estilizaçao do index */
.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 90vw;
  height: auto;
  display: block;
}

.text__container {
  padding: 30px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text__container h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  color: #1d1d1d;
  font-size: 25px;
}

.text__container p {
  margin-top: 10px;
  max-width: 60%;
}

.content-image__container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.content-image__container img {
  width: 33%;
}
.content__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
}

.content__container span {
  margin-bottom: 10px;
  font-weight: 600;
}

.content__container h2 {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #0168b5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  color: #0168b5;
  font-weight: bold;
}

.buttons button:hover {
  color: #004e8c;
  border-color: #004e8c;
  text-decoration: underline;
}

/* estilizaçao do cadastro */
.form__container {
  padding: 30px 24px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 440px;
  height: 420px;
  border-radius: 10px;
  border: 1px solid #1d1d1d;
}

.form__container h2 {
  font-size: 30px;
}

.form button {
  background-color: #0168b5;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 25px;
  color: #fff;
}

.form input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
}

.form button:hover {
  background-color: #004e8c;
}

.form input {
  padding: 3px;
  width: 200px;
  border-radius: 0%;
  border: 1px solid #1d1d1d;
}

/* estilizaçao do sobre */
